<div class="card card-plain">
	<div class="card-header clearfix" data-background-color="red">
	    <form class="navbar-form navbar-left" role="search">
	        <div class="form-group form-black is-empty">
	            <input type="text" class="form-control" placeholder="Search"><span class="material-input"></span><span class="material-input"></span></div>
	        <button class="btn btn-white btn-round btn-just-icon" type="submit"><i class="material-icons">search</i>
	            <div class="ripple-container"></div>
	        </button>
	    </form>
	</div>
</div>